* {
	margin: 0;
	padding: 0;
	font-family: "Kumbh Sans";
	border: 0;
}
body {
	width:100wh;
	height:100vh;
	background-color:#19A1AE;
	overflow:hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	}

header {
	width:350px;
	height:374px;
	border-radius:15px;
	position:relative;
	}
	
.circle-top-bg {
	width:976px;
	height:976px;
	border-radius:50%;
	background:linear-gradient(rgba(9, 137, 180, 0.01), #53FFEE);
	opacity:50%;
	position:absolute;
	top:-711px;
	left:-820px;
	transform:rotate(-185deg);
	z-index:-1;
	}
	
.circle-bottom-bg {
	width:976px;
	height:976px;
	border-radius:50%;
	background:linear-gradient(rgba(9, 137, 180, 0.01), #53FFEE);
	opacity:25%;
	position:absolute;
	top:173px;
	left:173px;
	transform:rotate(180deg);
	z-index:-1;
	}
	
.box {	
	width:350px;
	height:374px;
	border-radius:15px;
	overflow:hidden;
	}
.card-bg {	
	width:350px;
	height:144px;
	background-image:url('images/card-bg.png');
	}	
.card-info {	
	width:350px;
	height:230px;
	background-color:#FFF;
	text-align:center;
	}
.user-img {
	position:relative;
	}	
.user-img img {	
	width:96px;
	height:96px;
	border-radius:50%;
	border:5px solid white;
	position:absolute;
	left:50%;
	top:0px;
	transform:translate(-50%, 96px);
	}
.user-info {	
	width:350px;
	height:72px;
	padding-top:70px;
	}
.user-info h1 {
	font-size:18px;
	font-weight:700;
	color:#2E3349;
	}	
	
.user-info h1 span{	
	color:#6B7082;
	font-weight:400;
	}
.user-info h2 {
	font-size:14px;
	font-weight:400;
	color:#6B7082;
	margin-top:10px;
}
.counter {
	height:90px;
	display:flex;
	justify-content:space-evenly;
	align-items: center;
	border-top:1px solid #E8E9EC;
}
.counter div{	
	width:66px;
	}
.counter div h1{	
	font-size:18px;
	font-weight:700;
	color:#2E3349;	
	}
.counter div h3{	
	font-size:10px;
	font-weight:400;
	color:#6B7082;
	letter-spacing:1.5px;
	line-height:2.5;
	}
	
